NetlibApi1/Connected Services/CustomerServiceReference/customerserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://secure.softwarekey.com/solo/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://secure.softwarekey.com/solo/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://secure.softwarekey.com/solo/webservices/">
      <s:element name="CreateCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="authorID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateProvince" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offerProduct" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="offerPartners" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCustomerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerHttpPostIn">
    <wsdl:part name="authorID" type="s:string" />
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="userPassword" type="s:string" />
    <wsdl:part name="companyName" type="s:string" />
    <wsdl:part name="firstName" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="address1" type="s:string" />
    <wsdl:part name="address2" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="stateProvince" type="s:string" />
    <wsdl:part name="postalCode" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="phone" type="s:string" />
    <wsdl:part name="fax" type="s:string" />
    <wsdl:part name="nickname" type="s:string" />
    <wsdl:part name="offerProduct" type="s:string" />
    <wsdl:part name="offerPartners" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateCustomerHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="CustomerServerSoap">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input message="tns:CreateCustomerSoapIn" />
      <wsdl:output message="tns:CreateCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CustomerServerHttpPost">
    <wsdl:operation name="CreateCustomer">
      <wsdl:input message="tns:CreateCustomerHttpPostIn" />
      <wsdl:output message="tns:CreateCustomerHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerServerSoap" type="tns:CustomerServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://secure.softwarekey.com/solo/webservices/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServerSoap12" type="tns:CustomerServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://secure.softwarekey.com/solo/webservices/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerServerHttpPost" type="tns:CustomerServerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateCustomer">
      <http:operation location="/CreateCustomer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServer">
    <wsdl:port name="CustomerServerSoap" binding="tns:CustomerServerSoap">
      <soap:address location="https://license.netlibsecurity.com/solo/webservices/customerserver.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServerSoap12" binding="tns:CustomerServerSoap12">
      <soap12:address location="https://license.netlibsecurity.com/solo/webservices/customerserver.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerServerHttpPost" binding="tns:CustomerServerHttpPost">
      <http:address location="https://license.netlibsecurity.com/solo/webservices/customerserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>